@use "../global-scss/fonts";
@use "../global-scss/colors";

.background {
    @include colors.bg-copper("98");
}

.logo {
    @include fonts.sans-bold("sm");
    @include colors.text-sandstone("2");

    &:hover {
        @include colors.text-sandstone("3");
    }

    &:active {
        @include colors.text-sandstone("2");
    }
}

.logo__link {
    text-decoration: none;
}

.nav__link {
    text-decoration: none;
    @include fonts.sans("sm");
    @include colors.text-sandstone("2");

    &:hover {
        @include colors.text-sandstone("3");
    }

    &:active {
        @include colors.text-sandstone("2");
    }
}

.nav__item {
    list-style: none;
    margin-left: 1rem;
}