@use "sass:map";
$sandstone-palette: (
   "5": hsl(25,20%,5%),
  "10": hsl(25,20%,10%),
  "15": hsl(25,20%,15%),
  "20": hsl(25,20%,20%),
  "25": hsl(25,20%,25%),
  "30": hsl(25,20%,30%),
  "35": hsl(25,20%,35%),
  "40": hsl(25,20%,40%),
  "45": hsl(25,20%,45%),
  "50": hsl(25,20%,50%),
  "55": hsl(25,20%,55%),
  "60": hsl(25,20%,60%),
  "65": hsl(25,20%,65%),
  "70": hsl(25,20%,70%),
  "75": hsl(25,20%,75%),
  "80": hsl(25,20%,80%),
  "85": hsl(25,20%,85%),
  "90": hsl(25,20%,90%),
  "95": hsl(25,20%,95%),
  "98": hsl(25,20%,98%),
);
$gray-palette: (
  "5": hsl(34,0%,5%),
  "10": hsl(34,0%,10%),
  "15": hsl(34,0%,15%),
  "20": hsl(34,0%,20%),
  "25": hsl(34,0%,25%),
  "30": hsl(34,0%,30%),
  "35": hsl(34,0%,35%),
  "40": hsl(34,0%,40%),
  "45": hsl(34,0%,45%),
  "50": hsl(34,0%,50%),
  "55": hsl(34,0%,55%),
  "60": hsl(34,0%,60%),
  "65": hsl(34,0%,65%),
  "70": hsl(34,0%,70%),
  "75": hsl(34,0%,75%),
  "80": hsl(34,0%,80%),
  "85": hsl(34,0%,85%),
  "90": hsl(34,0%,90%),
  "95": hsl(34,0%,95%),
);
$base-colors: (
  "sandstone": $sandstone-palette,
  "gray": $gray-palette,
);
$font-colors: (
  "sandstone": (
    "1": map.get($sandstone-palette, "20"),
    "2": map.get($sandstone-palette, "40"),
    "3": map.get($sandstone-palette, "60"),
    "4": map.get($sandstone-palette, "75"),
    "5": map.get($sandstone-palette, "95")
  ),
  "gray": (
    "1": map.get($gray-palette, "20"),
    "2": map.get($gray-palette, "40"),
    "3": map.get($gray-palette, "60"),
    "4": map.get($gray-palette, "75"),
    "5": map.get($gray-palette, "95")
  ),
);

// generate base-color classes
@each $hue_name, $color_map in $base-colors {
  @each $lightness, $color_value in $color_map {
    .#{$hue_name}-#{$lightness} {
      color: $color_value;
    }
  }
}

// generate font-color classes
@each $hue_name, $color_map in $font-colors {
  @each $index, $color_value in $color_map {
    .text-#{$hue_name}-#{$index} {
      color: $color_value;
    }
  }
}

// generate background-color classes
@each $hue_name, $color_map in $base-colors {
  @each $index, $color_value in $color_map {
    .bg-#{$hue_name}-#{$index} {
      background-color: $color_value;
    }
  }
}

// font-color mixins
@mixin text-gray($level: "2") {
  color: map.get(map.get($font-colors, "gray"), $level);
}
@mixin text-sandstone($level: "2") {
  color: map.get(map.get($font-colors, "sandstone"), $level);
}

// border color mixins
@mixin border-gray($level: "5") {
  border-color: map.get($gray-palette, $level) ;
}

// background-color mixins
@mixin bg-sandstone($level:"50") {
  background-color: map.get($sandstone-palette, $level);
}

@mixin bg-gray($level:"50") {
  background-color: map.get($gray-palette, $level);
}
